In [74]:
import pandas as pd
import numpy as np
import re
import glob
from pathlib import Path
from datetime import datetime

In [ ]:
ts = datetime.now().strftime('%Y%m%d')

## Cars24

In [ ]:
a = pd.concat(pd.read_csv(f) for f in glob.glob('output/csv/20251101/cars24/raw_csv/*.csv'))
a.head(15)

In [ ]:
a.info()
a.describe()

In [ ]:
a = a.dropna()
a = a.drop_duplicates(subset=['link_product'])

In [ ]:
""" change price to int"""
a['price'] = (a['price'].str.replace(r'[\$,]','',regex=True)).astype(int)

"""add column year made"""
a['year_made'] = a['name'].str[:4].astype(int)

""" add columm car brand"""
pattern = re.compile(r'^\d{4}\s+([a-zA-z]+)')
a['brand']=a['name'].str.extract(pattern, expand = False)

""" add column car name"""
pattern = re.compile(r'^\s*\d{4}\s+\S+\s+(.*)\s[MY]+\d{2}')
a ['name'] = a['name'].str.extract(pattern, expand = False)

""" change odometer to int"""
a['odometer'] = (a['odometer'].str.replace(r'[\s[kms]','',regex=True)).astype(int)
for idx, rows in a['odometer'].items():
    if rows > 0 and rows <= 20:
        a.loc[idx, 'odometer'] = '0 - 20,000'
    elif rows > 20 and rows <= 40:
        a.loc[idx, 'odometer'] = '20,001 - 40,000'
    elif rows > 40 and rows <= 60:
        a.loc[idx, 'odometer'] = '40,001 - 60,000'
    elif rows > 60 and rows <= 80:
        a.loc[idx, 'odometer'] = '60,001 - 80,000'
    elif rows > 80 and rows <= 100:
        a.loc[idx, 'odometer'] = '80,001 - 100,000'
    elif rows > 100 and rows <= 120:
        a.loc[idx, 'odometer'] = '100,001 - 120,000'
    elif rows > 120 and rows <= 140:
        a.loc[idx, 'odometer'] = '120,001 - 140,000'
    elif rows > 140 and rows <= 160:
        a.loc[idx, 'odometer'] = '140,001 - 160,000'
    elif rows > 160 and rows <= 180:
        a.loc[idx, 'odometer'] = '160,001 - 180,000'
    elif rows > 180 and rows <= 200:
        a.loc[idx, 'odometer'] = '180,001 - 200,000'
    else:
        a.loc[idx, 'odometer'] = '200,001+'

In [ ]:
output = Path ('output') / 'csv' / f'{ts}' / 'cars24' / 'clean csv'
output.mkdir(parents=True, exist_ok=True)
filename= f'{ts}_cars24_clean.csv'
file_path = output / filename
a.to_csv(file_path, index=False, encoding="utf-8-sig")

## cheapcarco

In [103]:
df = pd.concat(pd.read_csv(f) for f in glob.glob('output/csv/20251101/cheapcarco/raw_csv/*.csv'))
df.head(15)

,name,link_product,price,odometer,transmissions,fuel_type,car_type,update_date
0,2010 Nissan 370Z Z34 MY10 Grey 7 Speed Sports ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$18,999","204,488 Kms",Sports Automatic,Petrol - Premium ULP,Coupe,20251101
1,2010 Nissan 370Z Z34 MY10 Grey 7 Speed Sports ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$18,999","204,488 Kms",Sports Automatic,Petrol - Premium ULP,Coupe,20251101
2,2010 Nissan 370Z Z34 MY10 Grey 7 Speed Sports ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$18,999","204,488 Kms",Sports Automatic,Petrol - Premium ULP,Coupe,20251101
3,2013 Toyota 86 ZN6 GTS White 6 Speed Manual Coupe,https://www.cheapcarco.com.au/used-vehicles-ro...,"$34,999","56,312 Kms",Manual,Petrol - Premium ULP,Coupe,20251101
4,2013 Toyota 86 ZN6 GTS White 6 Speed Manual Coupe,https://www.cheapcarco.com.au/used-vehicles-ro...,"$34,999","56,312 Kms",Manual,Petrol - Premium ULP,Coupe,20251101
5,2013 Toyota 86 ZN6 GTS White 6 Speed Manual Coupe,https://www.cheapcarco.com.au/used-vehicles-ro...,"$34,999","56,312 Kms",Manual,Petrol - Premium ULP,Coupe,20251101
6,2012 Volkswagen CC Type 3CC MY13 125TDI DSG Gr...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$13,999","94,300 Kms",Sports Automatic Dual Clutch,Diesel,Coupe,20251101
7,2012 Volkswagen CC Type 3CC MY13 125TDI DSG Gr...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$13,999","94,300 Kms",Sports Automatic Dual Clutch,Diesel,Coupe,20251101
8,2012 Volkswagen CC Type 3CC MY13 125TDI DSG Gr...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$13,999","94,300 Kms",Sports Automatic Dual Clutch,Diesel,Coupe,20251101
9,2010 Peugeot RCZ White 6 Speed Manual Coupe,https://www.cheapcarco.com.au/used-vehicles-ro...,"$9,999","141,293 Kms",Manual,Petrol - Premium ULP,Coupe,20251101
10,2010 Peugeot RCZ White 6 Speed Manual Coupe,https://www.cheapcarco.com.au/used-vehicles-ro...,"$9,999","141,293 Kms",Manual,Petrol - Premium ULP,Coupe,20251101
11,2010 Peugeot RCZ White 6 Speed Manual Coupe,https://www.cheapcarco.com.au/used-vehicles-ro...,"$9,999","141,293 Kms",Manual,Petrol - Premium ULP,Coupe,20251101
0,2015 Mazda 2 DJ2HAA Genki SKYACTIV-Drive Blue ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$14,999","128,819 Kms",Sports Automatic,Petrol - Unleaded,Hatchback,20251101
1,2015 Mazda 2 DJ2HAA Genki SKYACTIV-Drive Blue ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$14,999","128,819 Kms",Sports Automatic,Petrol - Unleaded,Hatchback,20251101
2,2015 Mazda 2 DJ2HAA Genki SKYACTIV-Drive Blue ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$14,999","128,819 Kms",Sports Automatic,Petrol - Unleaded,Hatchback,20251101

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 684 entries, 0 to 227
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           684 non-null    object
 1   link_product   684 non-null    object
 2   price          684 non-null    object
 3   odometer       684 non-null    object
 4   transmissions  684 non-null    object
 5   fuel_type      678 non-null    object
 6   car_type       684 non-null    object
 7   update_date    684 non-null    int64
dtypes: int64(1), object(7)
memory usage: 48.1+ KB

In [105]:
df.drop_duplicates(subset=['link_product'])
df = df.dropna()
df

,name,link_product,price,odometer,transmissions,fuel_type,car_type,update_date
0,2010 Nissan 370Z Z34 MY10 Grey 7 Speed Sports ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$18,999","204,488 Kms",Sports Automatic,Petrol - Premium ULP,Coupe,20251101
1,2010 Nissan 370Z Z34 MY10 Grey 7 Speed Sports ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$18,999","204,488 Kms",Sports Automatic,Petrol - Premium ULP,Coupe,20251101
2,2010 Nissan 370Z Z34 MY10 Grey 7 Speed Sports ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$18,999","204,488 Kms",Sports Automatic,Petrol - Premium ULP,Coupe,20251101
3,2013 Toyota 86 ZN6 GTS White 6 Speed Manual Coupe,https://www.cheapcarco.com.au/used-vehicles-ro...,"$34,999","56,312 Kms",Manual,Petrol - Premium ULP,Coupe,20251101
4,2013 Toyota 86 ZN6 GTS White 6 Speed Manual Coupe,https://www.cheapcarco.com.au/used-vehicles-ro...,"$34,999","56,312 Kms",Manual,Petrol - Premium ULP,Coupe,20251101
...,...,...,...,...,...,...,...,...
223,2015 BMW X5 F15 xDrive30d Grey 8 Speed Sports ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$19,999","142,313 Kms",Sports Automatic,Diesel,Wagon,20251101
224,2015 BMW X5 F15 xDrive30d Grey 8 Speed Sports ...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$19,999","142,313 Kms",Sports Automatic,Diesel,Wagon,20251101
225,2018 MG ZS AZS1 Essence 2WD Black 6 Speed Auto...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$14,999","140,001 Kms",Automatic,Petrol - Premium ULP,Wagon,20251101
226,2018 MG ZS AZS1 Essence 2WD Black 6 Speed Auto...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$14,999","140,001 Kms",Automatic,Petrol - Premium ULP,Wagon,20251101
227,2018 MG ZS AZS1 Essence 2WD Black 6 Speed Auto...,https://www.cheapcarco.com.au/used-vehicles-ro...,"$14,999","140,001 Kms",Automatic,Petrol - Premium ULP,Wagon,20251101

In [106]:
"""Normalize transmissions"""
df['transmissions']= df['transmissions'].str.replace('Sports Automatic Dual Clutch','Automatic')
df['transmissions']= df['transmissions'].str.replace('Sports Automatic','Automatic')
df['transmissions']= df['transmissions'].str.replace('Constant Variable','Automatic')

"""Normalize fuel_type"""
df['fuel_type']= df['fuel_type'].str.replace('Petrol - Unleaded','Petrol')
df['fuel_type']= df['fuel_type'].str.replace('Petrol - Premium ULP','Petrol')

""" change price to int"""
df = df[df['price'] != 'P.O.A']
df['price'] = (df['price'].str.replace(r'[\$,]','',regex=True)).astype(int)

"""add column year made"""
df['year_made'] = df['name'].str[:4].astype(int)

""" add columm car brand"""
pattern = re.compile(r'^\d{4}\s+([a-zA-z]+)')
df['brand']=df['name'].str.extract(pattern, expand = False)

""" add column car name"""
pattern = re.compile(r'^\s*\d{4}\s+\S+\s+(.*)')
df ['name'] = df['name'].str.extract(pattern, expand = False)

""" change odometer to int"""
df['odometer'] = (df['odometer'].str.replace(r'[\s[Kkms,]','',regex=True)).astype(int)
for idx, rows in df['odometer'].items():
    if rows > 0 and rows <= 20:
        df.loc[idx, 'odometer'] = '0 - 20,000'
    elif rows > 20 and rows <= 40:
        df.loc[idx, 'odometer'] = '20,001 - 40,000'
    elif rows > 40 and rows <= 60:
        df.loc[idx, 'odometer'] = '40,001 - 60,000'
    elif rows > 60 and rows <= 80:
        df.loc[idx, 'odometer'] = '60,001 - 80,000'
    elif rows > 80 and rows <= 100:
        df.loc[idx, 'odometer'] = '80,001 - 100,000'
    elif rows > 100 and rows <= 120:
        df.loc[idx, 'odometer'] = '100,001 - 120,000'
    elif rows > 120 and rows <= 140:
        df.loc[idx, 'odometer'] = '120,001 - 140,000'
    elif rows > 140 and rows <= 160:
        df.loc[idx, 'odometer'] = '140,001 - 160,000'
    elif rows > 160 and rows <= 180:
        df.loc[idx, 'odometer'] = '160,001 - 180,000'
    elif rows > 180 and rows <= 200:
        df.loc[idx, 'odometer'] = '180,001 - 200,000'
    else:
        df.loc[idx, 'odometer'] = '200,001+'

C:\Users\luong\AppData\Local\Temp\ipykernel_11164\3298355735.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'] = (df['price'].str.replace(r'[\$,]','',regex=True)).astype(int)
C:\Users\luong\AppData\Local\Temp\ipykernel_11164\3298355735.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year_made'] = df['name'].str[:4].astype(int)
C:\Users\luong\AppData\Local\Temp\ipykernel_11164\3298355735.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['brand']=df['name'].str.extract(pattern, expand = False)
C:\Users\luong\AppData\Local\Temp\ipykernel_11164\3298355735.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df ['name'] = df['name'].str.extract(pattern, expand = False)
C:\Users\luong\AppData\Local\Temp\ipykernel_11164\3298355735.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['odometer'] = (df['odometer'].str.replace(r'[\s[Kkms,]','',regex=True)).astype(int)
C:\Users\luong\AppData\Local\Temp\ipykernel_11164\3298355735.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '200,001+' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[idx, 'odometer'] = '200,001+'

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 672 entries, 0 to 227
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           672 non-null    object
 1   link_product   672 non-null    object
 2   price          672 non-null    int64
 3   odometer       672 non-null    object
 4   transmissions  672 non-null    object
 5   fuel_type      672 non-null    object
 6   car_type       672 non-null    object
 7   update_date    672 non-null    int64
 8   year_made      672 non-null    int64
 9   brand          672 non-null    object
dtypes: int64(3), object(7)
memory usage: 73.9+ KB

In [108]:

output = Path ('output') / 'csv' / f'{ts}' / 'cheapcarco' / 'clean csv'
output.mkdir(parents=True, exist_ok=True)
filename= f'{ts}_cheapcarco_clean.csv'
file_path = output / filename
df.to_csv(file_path, index=False, encoding="utf-8-sig")

## brisbaneautogroup

In [109]:
df = pd.concat(pd.read_csv(f) for f in glob.glob('output/csv/20251101/brisbaneautogroup/raw_csv/*.csv'))
df.head(15)

,name,link_product,price,odometer,transmissions,fuel_type,car_type,update_date
0,2017 Ford Mustang FM MY17,/used-cars/for-sale/ford/mustang/2017/fm-my17/...,"$33,990","113,432 Kms",6 SP Sports Automatic,Petrol - Unleaded ULP,Coupe,20251103
0,2015 Ford Fiesta Ambiente WZ MY15,/used-cars/for-sale/ford/fiesta/2015/ambiente/...,"$6,990","132,664 Kms",5 SP Manual,Petrol - Unleaded ULP,Hatchback,20251103
1,2011 Mazda 2 Neo DE Series 1 MY11,/used-cars/for-sale/mazda/2/2011/neo/de-series...,"$7,490","201,009 Kms",4 SP Automatic,Petrol - Unleaded ULP,Hatchback,20251103
2,2012 Nissan Micra ST K13,/used-cars/for-sale/nissan/micra/2012/st/k13/3...,"$7,490","141,908 Kms",4 SP Automatic,Petrol - Unleaded ULP,Hatchback,20251103
3,2014 Nissan Pulsar ST C12,/used-cars/for-sale/nissan/pulsar/2014/st/c12/...,"$7,990","168,715 Kms",1 SP Constantly Variable,Petrol - Unleaded ULP,Hatchback,20251103
4,2016 Nissan Micra ST K13 MY15,/used-cars/for-sale/nissan/micra/2016/st/k13-m...,"$7,990","179,000 Kms",4 SP Automatic,Petrol - Unleaded ULP,Hatchback,20251103
5,2012 Toyota Yaris YR NCP130R,/used-cars/for-sale/toyota/yaris/2012/yr/ncp13...,"$9,990","214,076 Kms",4 SP Automatic,Petrol - Unleaded ULP,Hatchback,20251103
6,2014 Mazda 3 SP25 Astina BM Series,/used-cars/for-sale/mazda/3/2014/sp25-astina/b...,"$9,990","229,731 Kms",6 SP Sports Automatic,Petrol - Unleaded ULP,Hatchback,20251103
7,2014 BMW 1 Series 118i F20 MY14,/used-cars/for-sale/bmw/1-series/2014/118i/f20...,"$11,990","140,604 Kms",8 SP Sports Automatic,Petrol - Premium ULP,Hatchback,20251103
8,2013 Audi A3 Ambition 8V Four Wheel Drive,/used-cars/for-sale/audi/a3/2013/ambition/8v-f...,"$13,990","142,840 Kms",6 SP Sports Automatic Dual Clutch,Petrol - Premium ULP,Hatchback,20251103
9,2014 Toyota Corolla Ascent Sport ZRE182R,/used-cars/for-sale/toyota/corolla/2014/ascent...,"$15,990","137,656 Kms",7 SP Constantly Variable,Petrol - Unleaded ULP,Hatchback,20251103
10,2023 MG MG3 Core MY23,/used-cars/for-sale/mg/mg3/2023/core/my23/3660997,"$15,990","44,491 Kms",4 SP Automatic,Petrol - Premium ULP,Hatchback,20251103
11,2012 Mercedes-Benz B-Class B200 BlueEFFICIENCY...,/used-cars/for-sale/mercedes-benz/b-class/2012...,"$16,990","38,945 Kms",7 SP Sports Automatic Dual Clutch,Petrol - Premium ULP,Hatchback,20251103
12,2014 Mercedes-Benz B-Class B200 CDI W246,/used-cars/for-sale/mercedes-benz/b-class/2014...,"$16,990","81,500 Kms",7 SP Sports Automatic Dual Clutch,Diesel,Hatchback,20251103
0,2013 Holden Cruze Equipe JH Series II MY14,/used-cars/for-sale/holden/cruze/2013/equipe/j...,"$7,490","130,250 Kms",6 SP Sports Automatic,Petrol - Unleaded ULP,Sedan,20251103

In [110]:
df.drop_duplicates(subset=['link_product'])
df = df.dropna()

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114 entries, 0 to 3
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           114 non-null    object
 1   link_product   114 non-null    object
 2   price          114 non-null    object
 3   odometer       114 non-null    object
 4   transmissions  114 non-null    object
 5   fuel_type      114 non-null    object
 6   car_type       114 non-null    object
 7   update_date    114 non-null    int64
dtypes: int64(1), object(7)
memory usage: 8.0+ KB

In [112]:
"""Normalize transmissions"""
df['transmissions'] = (df['transmissions'].str.replace(r'\d\s','',regex=True))
df['transmissions']= df['transmissions'].str.replace('SP Sports Automatic','Automatic')
df['transmissions']= df['transmissions'].str.replace('SP Automatic','Automatic')
df['transmissions']= df['transmissions'].str.replace('SP Constantly Variable','Automatic')
df['transmissions']= df['transmissions'].str.replace('SP Sports Automatic Dual Clutch','Automatic')
df['transmissions']= df['transmissions'].str.replace('SP Manual','Manual')
df['transmissions']= df['transmissions'].str.replace('Automatic Dual Clutch','Automatic')

""" change price to int"""
df['price'] = (df['price'].str.replace(r'[\$,]','',regex=True)).astype(int)

"""Normalize fuel_type"""
df['fuel_type']= df['fuel_type'].str.replace('Petrol - Unleaded ULP','Petrol')
df['fuel_type']= df['fuel_type'].str.replace('Petrol - Premium ULP','Petrol')
df['fuel_type']= df['fuel_type'].str.replace('Hybrid with Petrol - Unleaded ULP','Petrol')

""" change odometer to int"""
df['odometer'] = (df['odometer'].str.replace(r'[\s[Kkms,]','',regex=True)).astype(int)
for idx, rows in df['odometer'].items():
    if rows > 0 and rows <= 20000:
        df.loc[idx, 'odometer'] = '0 - 20,000'
    elif rows > 20000 and rows <= 40000:
        df.loc[idx, 'odometer'] = '20,001 - 40,000'
    elif rows > 40000 and rows <= 60000:
        df.loc[idx, 'odometer'] = '40,001 - 60,000'
    elif rows > 60000 and rows <= 80000:
        df.loc[idx, 'odometer'] = '60,001 - 80,000'
    elif rows > 80000 and rows <= 100000:
        df.loc[idx, 'odometer'] = '80,001 - 100,000'
    elif rows > 100000 and rows <= 120000:
        df.loc[idx, 'odometer'] = '100,001 - 120,000'
    elif rows > 120000 and rows <= 140000:
        df.loc[idx, 'odometer'] = '120,001 - 140,000'
    elif rows > 140000 and rows <= 160000:
        df.loc[idx, 'odometer'] = '140,001 - 160,000'
    elif rows > 160000 and rows <= 180000:
        df.loc[idx, 'odometer'] = '160,001 - 180,000'
    elif rows > 180000 and rows <= 200000:
        df.loc[idx, 'odometer'] = '180,001 - 200,000'
    else:
        df.loc[idx, 'odometer'] = '200,001+'

"""add column year made"""
df['year_made'] = df['name'].str[:4].astype(int)

""" add columm car brand"""
pattern = re.compile(r'^\d{4}\s+([a-zA-z]+)')
df['brand']=df['name'].str.extract(pattern, expand = False)

""" add column car name"""
pattern = re.compile(r'^\s*\d{4}\s+\S+\s+(.*)')
df ['name'] = df['name'].str.extract(pattern, expand = False)

C:\Users\luong\AppData\Local\Temp\ipykernel_11164\4230551391.py:32: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '100,001 - 120,000' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[idx, 'odometer'] = '100,001 - 120,000'

In [ ]:
output = Path ('output') / 'csv' / f'{ts}' / 'brisbaneautogroup' / 'clean csv'
output.mkdir(parents=True, exist_ok=True)
filename= f'{ts}_brisbaneautogroup_clean.csv'
file_path = output / filename
a.to_csv(file_path, index=False, encoding="utf-8-sig")